body {
	font-family: "roboto", "verdana", "arial";
}

img {
  max-width:40%;
  max-height:40%;
}
.navbar {
	overflow: hidden;
	background-color: #339cff;
	position: fixed;
	top: 0;
	width: 110%;
	margin-left: -10px;
}

.navbar ul{
    margin: 0;
    padding:0;
    line-height: 50px;
}

.navbar li{
	list-style: none;	
	position: relative;
}

.navbar ul li a {
	float: left;
	display: block;
	width: 70px;
	height: 50px;
	text-decoration: none;
	color: white;
	text-align: center;
}

.navbar ul li a img {
	float: left;
	margin-left: 10px;
	display: block;
	max-width: 50px;
	max-height: 50px;
	text-decoration: none;
	color: white;
	text-align: center;
}

.navbar a:hover {
	background-color: #53ADDA;
}


.main  {
	margin-top: 60px;
}

.post {
	padding: 14px 20px 20px;
	margin: auto;
	margin-top: 10px;
	width: 60%;
	background-color: #b3daff;
	border-radius: 5px;
}

.comentarios {
	margin: 15px 15px 15px 15px;
}

.single-comment {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: white;
	padding: 5px 5px 10px 5px;
	margin-bottom: -12px;
}

.single-comment:hover{
	background-color: #53ADDA;
}

.time{
	margin-top: -10px;
	font-size: 12px;
	margin-left: 10px;
	font-style: italic;
}